<mat-sidenav-container fullscreen >
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)" style="padding: 10px">

    <div class="mat-elevation-z2" fxLayout="row" fxLayoutAlign="center center" style="padding: 20px">
      <div> <a routerLink="/search-page">
        <img src="assets/1200px-Logo-YTS.png" style="width: 100px">
      </a>

      </div>
    </div>

    <div class="mat-elevation-z2 mb-1">
      <div fxLayout="column">

        <form
          fxLayout="row" fxLayoutGap="20px"
          fxLayoutAlign="center center"
          [formGroup]="searchForm" (ngSubmit)="onSearch()"
          fxShow="false" fxShow.lt-md="true"
        >
          <mat-form-field floatLabel="never">
            <mat-label><mat-icon>search</mat-icon></mat-label>
            <input
              (keyup.enter)="onSearch(); drawer.toggle();"
              formControlName="search"
              type="text"
              matInput>
          </mat-form-field>
          <div class="example-button-container">
            <button type="submit" mat-mini-fab color="accent" aria-label="search button" style="margin-right:10px">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </form>

        <a routerLink="advanced-search" (click)="drawer.toggle()" mat-button> Advanced Search</a>
        <a routerLink="/"  (click)="drawer.toggle()" mat-button> LOG OUT</a>

      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content fxLayout="column">
    <mat-toolbar class="mat-elevation-z2">
        <div>
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
            <!--*ngIf="isHandset$ | async"-->
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        </div>

        <div style="flex: 1 1 auto;" *ngIf="isHandset$ | async"></div>

        <div>
          <a routerLink="/search-page" style="text-decoration: none; color: #F2F2F2">
          YTS Clone
          </a>
        </div>

        <div style="flex: 1 1 auto;"></div>


        <div fxLayout="column" fxLayoutAlign="center center" fxShow="true" fxShow.lt-md="false">
          <form fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" [formGroup]="searchForm" (ngSubmit)="onSearch()" >
            <mat-form-field floatLabel="never">
              <mat-label><mat-icon>search</mat-icon></mat-label>
              <input
                (keyup.enter)="onSearch()"
                formControlName="search"
                type="text"
                matInput>
            </mat-form-field>
            <div class="example-button-container">
              <button type="submit" mat-mini-fab color="accent" aria-label="search button" style="margin-right:10px">
                <mat-icon>search</mat-icon>
              </button>
            </div>

          </form>
        </div>
    </mat-toolbar>

    <div style="flex: 1 1 auto; height: 100%" >
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
