<div fxLayout="column" fxLayoutAlign="start center" fxFlexFill>

    <form
      fxLayout="column" fxLayoutAlign="center stretch" class="search-card"
      [formGroup]="advancedSearchForm" (ngSubmit)="onSubmit()"
      style="margin-top:20px;"
       fxLayoutGap="20px">
      <h1 class="paragraph">Advanced Search</h1>
      <div fxLayout="column" fxLayoutAlign="center stretch" >
        <mat-form-field fxFlex>
          <mat-label>Search term: </mat-label>
          <input
            style="color: #F2F2F2"
            formControlName="queryTermInput"
            type="text"
            placeholder="Search Here"
            matInput >
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center stretch" fxFlex>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.lt-sm="column" fxLayoutGap="20px">

            <mat-form-field fxFlex>
              <mat-label>Quality</mat-label>
              <mat-select formControlName="qualityInput">
                <mat-option *ngFor="let quality of qualities" [value]="quality">
                  {{quality}}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <mat-form-field fxFlex >
              <mat-label>Genre</mat-label>
              <mat-select formControlName="genreInput">
                <mat-option *ngFor="let genre of genres" [value]="genre.value">
                  {{genre.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.lt-sm="column" fxLayoutGap="20px">

          <mat-form-field fxFlex>
            <mat-label>Order by</mat-label>
            <mat-select formControlName="orderBy">
              <mat-option *ngFor="let order of orderBy" [value]="order.value">
                {{order.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>


            <mat-form-field fxFlex>
              <mat-label>Sort by</mat-label>
              <mat-select formControlName="sortBy">
                <mat-option *ngFor="let sort of sortBy" [value]="sort.value">
                  {{sort.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.lt-sm="column" fxLayoutGap="20px">
          <mat-form-field  >
            <mat-label>Rating</mat-label>
            <input
              style="color: #F2F2F2"
              formControlName="minRatingInput"
              type="text"
              placeholder="Enter Minimum Rating"
              matInput >
            <mat-error *ngIf="!advancedSearchForm.get('minRatingInput').valid">
              • Minimum rating must between 0-9 inclusive.
            </mat-error>
          </mat-form-field>


        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <button type="submit" mat-raised-button color="accent"><mat-icon>search</mat-icon> Search</button>
      </div>

    </form>

  <div *ngIf="showStatus || showErr" fxLayout="column" fxLayoutAlign="center center" class="search-card">

    <div *ngIf="showStatus" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="status-msg">
      <div fxLayout="column" fxFlexFill fxLayoutAlign="center center" >
        <p class="stat-msg">Search above to get the movie you wanted. </p>
      </div>
    </div>

    <div *ngIf="showErr" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="status-msg">
      <div fxLayout="column" fxFlexFill fxLayoutAlign="center center" >
        <p class="err-msg">No Results found. Please refine your search.</p>
      </div>
    </div>
  </div>

  <div *ngIf="isLoad" fxLayout="row wrap" fxLayout.lt-sm="column"  fxLayoutAlign="center" fxLayoutGap="32px" style="margin-top: 20px">
    <app-movie-card

      fxFlex="0 1 calc(25% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
      *ngFor="let movie of movieList['data']['movies']" [movieDetails]="movie"></app-movie-card>

  </div>

  <div *ngIf="isLoad" fxLayout="column" fxFlex >
    <app-pagination [movieList]="movieList" (outEvent)="onPageChange($event)">

    </app-pagination>

  </div>


</div>



