.movie-poster{
  width: 208px;
  height: 315px;
  background-size: contain;
  text-align: center;
  /*border-style: solid;
  border-width:3px;
  border-color: #F2F2F2;
  border-radius: 1px;*/
  -webkit-mask-image: linear-gradient(to bottom, transparent 10%, black 90%);
  mask-image: linear-gradient(to bottom, transparent 10%, black 90%);
}
.movie-genre{

  font-size: 12px;
  font-weight: lighter;

}

.movie-overlay{
  width: 208px;
  height: 315px;
  position: absolute;
  text-align: center;
}



.star{
  margin: 0px 0px;
  color: #a9a5a5;
  display: inline-block;
  cursor: pointer;
  transition: all .3s;
  transform: scale(1);
}
.star .mat-icon{
  width: 40px;
  height: 40px;
}
.star-gold{
  color: orange;
}
