.form-logo-img{
  width: 100px;
}

.status-msg{
  background-color: rgba(23, 23, 23, 1);
  padding: 30px;
}

.err-msg{
  color: rgb(191,48,48);
  font-size: 18px;
}

.stat-msg{
  color: rgb(29,145,36);
  font-size: 18px;
}
