<div fxLayout="row">
  <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">

      <mat-toolbar>
          <span fxHide.lt-sm="true">
              <img src="assets/1200px-Logo-YTS.png" class="form-logo-img" alt="yts logo">
          </span>

          <span class="example-spacer"></span>
        <div fxLayout="column" fxLayoutAlign="center center">
          <form fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" [formGroup]="searchForm" (ngSubmit)="onSearch()" >
            <mat-form-field floatLabel="never">
              <mat-label><mat-icon>search</mat-icon></mat-label>
              <input
                (keyup.enter)="onSearch()"
                formControlName="search"
                type="text"
                matInput>
            </mat-form-field>
            <div class="example-button-container">
              <button type="submit" mat-mini-fab color="accent" aria-label="search button" style="margin-right:10px">
                <mat-icon>search</mat-icon>
              </button>
            </div>

          </form>
        </div>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>

      </mat-toolbar>
      <!--mat-toolbar  style="font-size: 16px;">
        <div fxLayout="row" fxFlexFill fxLayoutAlign="space-between center">

          <div fxLayout="row" fxLayoutAlign="center center">
            <img src="assets/1200px-Logo-YTS.png" class="form-logo-img">
          </div>

          <div fxLayout="column" fxLayoutAlign="center center">
            <form fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" [formGroup]="searchForm" (ngSubmit)="onSearch()" >
              <mat-form-field floatLabel="never">
                <mat-label><mat-icon>search</mat-icon></mat-label>
                <input
                  (keyup.enter)="onSearch()"
                  formControlName="search"
                  type="text"
                  matInput>
              </mat-form-field>
              <div class="example-button-container">
                <button type="submit" mat-mini-fab color="accent" aria-label="search button">
                  <mat-icon>search</mat-icon>
                </button>
              </div>
              <div class="example-button-container">
                <button mat-mini-fab color="accent" aria-label="logout button">
                  <mat-icon>logout</mat-icon>
                </button>
              </div>
              <button type="submit" mat-raised-button color="accent"><mat-icon>search</mat-icon></button>

            </form>
          </div>

        </div>
      </mat-toolbar-->

  </div>
</div>


<div fxLayout="column" fxLayoutAlign="center">

  <div *ngIf="showStatus" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="status-msg">
    <div fxLayout="column" fxFlexFill fxLayoutAlign="center center" >
      <p class="stat-msg">Search above to get the movie you wanted. </p>
    </div>
  </div>

  <div *ngIf="showErr" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="status-msg">
    <div fxLayout="column" fxFlexFill fxLayoutAlign="center center" >
      <p class="err-msg">No Results found. Please refine your search.</p>
    </div>
  </div>
</div>

<div *ngIf="isLoad" fxLayout="row wrap" fxLayout.lt-sm="column"  fxLayoutAlign="center" fxLayoutGap="32px">
  <app-movie-card

    fxFlex="0 1 calc(25% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%"
    *ngFor="let movie of movieList['data']['movies']" [movieDetails]="movie"></app-movie-card>

</div>

<div *ngIf="isLoad" fxLayout="column" >
  <app-pagination [movieList]="movieList" (outEvent)="onPageChange($event)">

  </app-pagination>
</div>


<!--div fxLayout="column" fxLayoutAlign="end" class="status-msg">
  <p class="stat-msg" style="text-align: center;color: #F2F2F2 "> <code>Nice</code></p>
</div-->

