
<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" [style]="backgroundStyleUrl" class="movie-background">

  <div fxLayout="column"
       fxLayoutAlign="center center" class="movie-card" fxLayoutGap="20px" style="margin: 20px 0px 20px 0px">

    <div fxLayout="column"  fxLayoutAlign="center center">
      <h1 class="logo-caption" fxFlex>{{movieDetails['title']}} ({{movieDetails['year']}})</h1>
    </div>
    <div fxLayout="column" fxLayoutAlign="center stretch">
      <mat-list class="list-horizontal">
        <mat-list-item  *ngFor="let genre of movieDetails['genres']">
          {{genre}}
          <mat-divider [vertical]="true"></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
    <div fxLayout="row"
         fxLayout.lt-sm="column"
         fxLayoutAlign.lt-sm="center center"
         fxFlex fxLayoutAlign="start start"
         fxLayoutGap="20px"
    style="box-sizing: border-box">
      <div fxLayout="column" style="box-sizing: border-box;max-width:200px; max-height:315px;width: 40%; height: 70%;">
        <img src="{{movieDetails['medium_cover_image']}}" >
      </div>

      <div fxLayout="column" fxLayoutAlign.lt-sm="center center" fxLayoutAlign="start">
        <p class="paragraph" style="padding: 20px">{{movieDetails['description_intro']}}</p>

        <div fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.lt-sm="center center" fxLayoutGap="10px">
          <div class="icon-text">
            <mat-icon class="star-gold">star</mat-icon>
            <span class="paragraph">&nbsp;{{movieDetails['rating']}}/10</span>


          </div>
          <div fxLayout="row">
            <a *ngFor="let torrent of movieDetails['torrents']" [href]="torrent['url']"
                    mat-button color="accent" aria-label="Download button">
              <mat-icon>file_download</mat-icon> {{torrent['quality']}}
            </a>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>

